# AI 模型相关
SUMMARY_MODEL_URL=https://api.openai.com/v1/chat/completions
SUMMARY_MODEL_API_KEY=sk-xxxxxx
SUMMARY_MODEL_NAME=gpt-4o
SUMMARY_MODEL_MAX_CONTEXT=60000
MAX_CONCURRENT_TASKS=5

# 记忆库文件夹路径与屏蔽词
MEMORY_BASE_PATH=任意本地vcp\dailynote路径
IGNORE_FOLDERS=待整理,公共知识库,小克的知识
